$background-dark: #512DA8;

.container {
	margin: 20px;
	display: flex;
}

.flex-spacer {
	flex: 1 1 auto;
}

.full-width {
	width: 95%;
}

.background-primary {
	background-color: $background-dark;
}

.text-floral-white {
	color: floralwhite;
}